---

debug: true
port: 8080
storage:
  backend: local
  local:
    rootdir: /vat/cache/chartmuseum

# bearerauth: 1
# authrealm: <authorization server url>
# authservice: <authorization server service name>
# authcertpath: <path to authorization server public pem file>
# authactionssearchpath: <optional: JMESPath to find allowed actions in a jwt token>

depth: 2
